
	<div class="row">
		<div class="large-4  columns">
			<div class="bloque-footer">
			<ul class="vcard">
			  <li class="fn">Caledonian</li>
			  <li class="street-address">Avda. de Portugal, 8</li>
			  <li class="locality"><span class="zip">11009</span>, Cádiz. <span class="state">España</span></li>
			  <li class="email"><a href="#">caledonian@caledonian.com</a></li>
			</ul>
			</div>
		</div>
		
		<div class="large-4 columns hide-for-small">
		<div class="bloque-footer">
		¿Iconos?</br>

				<!-- Contador de visitas -->
				<a href="http://www.websmultimedia.com/contador-de-visitas-gratis" title="Contador De Visitas Gratis">
				<img style="border: 0px solid; display: inline;" alt="contador de visitas" src="http://www.websmultimedia.com/contador-de-visitas.php?id=133471"></a><a href='http://www.websmultimedia.com/contador-de-visitas-gratis'>Contador de visitas</a><br>
				<!-- Fin Contador de visitas -->
			{{ direccion.text }}
		
		</div>
		</div>
		
		<div id="mapa-footer" class="large-4 columns">
			<div id="map-canvas-wrapper" class="bloque-footer">
			<div id="map-canvas" >
			Derecha
			</div>
			</div>
		</div>
	
	</div>

